.HomePage-Heading {
    margin-bottom: 30px;
}

.card-padding {
    margin-top: 25px;
    margin-bottom: 50px;
}

.polaroid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
    background-color: #2f2f2f;
    color: #fff;
    height: 150px;
    flex-shrink: 0;
    text-align: center;
}